<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"kt-single","layout":{"type":"constrained"}} -->
<main class="wp-block-group kt-single">
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-featured-image {"aspectRatio":"16/9"} /-->
	<!-- wp:post-terms {"term":"ktheme_collection","className":"kt-post-terms"} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
